body{

margin:0;
font-family:sans-serif;

background:#d85a74;
color:white;

}



/* 로고 */

.logo-area{

text-align:center;
padding-top:80px;

}

.logo-area img{

width:300px;

}



/* 메뉴 */

.menu{

display:flex;
justify-content:center;

gap:100px;

margin-top:60px;

}



.column{

display:flex;
flex-direction:column;

gap:25px;

}



.column h2{

margin:0;
font-size:20px;

cursor:pointer;

}



.column p{

margin:0;
font-size:13px;
opacity:0.8;

}



/* footer */

footer{

text-align:center;
margin-top:120px;
padding-bottom:50px;

}



/* TOP 버튼 */

#topBtn{

position:fixed;

bottom:30px;
right:30px;

padding:12px 18px;

background:white;
color:#d85a74;

border:none;
border-radius:20px;

cursor:pointer;

box-shadow:0 4px 10px rgba(0,0,0,0.2);

}
